<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>b36b5316fa6421be5d0b52e777544707df1424639ef0dc475870f1d0587c3f95</string>
	<key>Server</key>
	<string>https://nars-edfa5e6b3ed0.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<true/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
